.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 100%;
  max-width: 150px;
}

.nav-links-container ul {
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-links-container > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  border: 1px solid #000;
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 14px;
  margin: 20px;
}

div.body {
  padding: 30px 20px;
}

.res-card img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

.res-card:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}
